body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ECEFF1; /* Fundo Cinza Claro com toque de Azul */
    color: #1A237E; /* Texto Azul Escuro */
    text-align: center;
}

header {
    background-color: #5C6BC0; /* Cabeçalho Azul Suave */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #FFFFFF; /* Texto Branco no Cabeçalho */
}

nav {
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #FFFFFF; /* Links Brancos no Menu */
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FF7043; /* Cor de Hover no Menu Coral */
}

section {
    padding: 40px 20px;
}

section h2 {
    font-size: 2rem;
    color: #1A237E; /* Títulos Azul Escuro */
}

/* Estilo para Home */
section#home {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

section#home h2 {
    text-align: center;
    font-size: 2rem;
    color: #1A237E;
}

section#home p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #1A237E;
    text-align: justify; /* Justifica o texto */
}

/* Estilo do Card */
.card {
    background-color: #FFFFFF; /* Fundo branco do card */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px; /* Espaçamento interno */
    margin: 20px auto; /* Margem para separar do conteúdo ao redor */
    max-width: 800px; /* Limita a largura do card */
    text-align: left; /* Alinhamento à esquerda para o texto */
}

.card h3 {
    text-align: center; /* Centraliza o título do card */
    font-size: 1.8rem;
    color: #311B92; /* Cor do título do card */
}

.card p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #1A237E;
    text-align: justify; /* Justifica o texto */
}


footer {
    background-color: #5C6BC0; /* Rodapé Azul Suave */
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #FFFFFF; /* Texto Branco no Rodapé */
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    margin: 15px;
    background-color: #7E57C2; /* Botões Lilás Médio */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #311B92; /* Hover Azul Roxo Escuro */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #7E57C2; /* Links Lilás Médio */
    font-size: 1.2rem;
}

ul li a:hover {
    color: #311B92; /* Hover Links Azul Roxo Escuro */
}

