/* Coolors Exported Palette - https://coolors.co/fcecc9-fcb0b3-f93943-7eb2dd-445e93 */

/* CSS HEX */
--dutch-white: #fcecc9ff;
--cherry-blossom-pink: #fcb0b3ff;
--imperial-red: #f93943ff;
--carolina-blue: #7eb2ddff;
--yinmn-blue: #445e93ff;

/* CSS HSL */
--dutch-white: hsla(41, 89%, 89%, 1);
--cherry-blossom-pink: hsla(358, 93%, 84%, 1);
--imperial-red: hsla(357, 94%, 60%, 1);
--carolina-blue: hsla(207, 58%, 68%, 1);
--yinmn-blue: hsla(220, 37%, 42%, 1);

/* SCSS HEX */
$dutch-white: #fcecc9ff;
$cherry-blossom-pink: #fcb0b3ff;
$imperial-red: #f93943ff;
$carolina-blue: #7eb2ddff;
$yinmn-blue: #445e93ff;

/* SCSS HSL */
$dutch-white: hsla(41, 89%, 89%, 1);
$cherry-blossom-pink: hsla(358, 93%, 84%, 1);
$imperial-red: hsla(357, 94%, 60%, 1);
$carolina-blue: hsla(207, 58%, 68%, 1);
$yinmn-blue: hsla(220, 37%, 42%, 1);

/* SCSS RGB */
$dutch-white: rgba(252, 236, 201, 1);
$cherry-blossom-pink: rgba(252, 176, 179, 1);
$imperial-red: rgba(249, 57, 67, 1);
$carolina-blue: rgba(126, 178, 221, 1);
$yinmn-blue: rgba(68, 94, 147, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #fcecc9ff, #fcb0b3ff, #f93943ff, #7eb2ddff, #445e93ff);
$gradient-right: linear-gradient(90deg, #fcecc9ff, #fcb0b3ff, #f93943ff, #7eb2ddff, #445e93ff);
$gradient-bottom: linear-gradient(180deg, #fcecc9ff, #fcb0b3ff, #f93943ff, #7eb2ddff, #445e93ff);
$gradient-left: linear-gradient(270deg, #fcecc9ff, #fcb0b3ff, #f93943ff, #7eb2ddff, #445e93ff);
$gradient-top-right: linear-gradient(45deg, #fcecc9ff, #fcb0b3ff, #f93943ff, #7eb2ddff, #445e93ff);
$gradient-bottom-right: linear-gradient(135deg, #fcecc9ff, #fcb0b3ff, #f93943ff, #7eb2ddff, #445e93ff);
$gradient-top-left: linear-gradient(225deg, #fcecc9ff, #fcb0b3ff, #f93943ff, #7eb2ddff, #445e93ff);
$gradient-bottom-left: linear-gradient(315deg, #fcecc9ff, #fcb0b3ff, #f93943ff, #7eb2ddff, #445e93ff);
$gradient-radial: radial-gradient(#fcecc9ff, #fcb0b3ff, #f93943ff, #7eb2ddff, #445e93ff);