/* Coolors Exported Palette - https://coolors.co/5e175f-711c72-884c94-9e7bb5-dcd0e5-e2d8e9 */

/* CSS HEX */
--palatinate: #5e175fff;
--purple: #711c72ff;
--plum: #884c94ff;
--african-violet: #9e7bb5ff;
--thistle: #dcd0e5ff;
--lavender-web: #e2d8e9ff;

/* CSS HSL */
--palatinate: hsla(299, 61%, 23%, 1);
--purple: hsla(299, 61%, 28%, 1);
--plum: hsla(290, 32%, 44%, 1);
--african-violet: hsla(276, 28%, 60%, 1);
--thistle: hsla(274, 29%, 86%, 1);
--lavender-web: hsla(275, 28%, 88%, 1);

/* SCSS HEX */
$palatinate: #5e175fff;
$purple: #711c72ff;
$plum: #884c94ff;
$african-violet: #9e7bb5ff;
$thistle: #dcd0e5ff;
$lavender-web: #e2d8e9ff;

/* SCSS HSL */
$palatinate: hsla(299, 61%, 23%, 1);
$purple: hsla(299, 61%, 28%, 1);
$plum: hsla(290, 32%, 44%, 1);
$african-violet: hsla(276, 28%, 60%, 1);
$thistle: hsla(274, 29%, 86%, 1);
$lavender-web: hsla(275, 28%, 88%, 1);

/* SCSS RGB */
$palatinate: rgba(94, 23, 95, 1);
$purple: rgba(113, 28, 114, 1);
$plum: rgba(136, 76, 148, 1);
$african-violet: rgba(158, 123, 181, 1);
$thistle: rgba(220, 208, 229, 1);
$lavender-web: rgba(226, 216, 233, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #5e175fff, #711c72ff, #884c94ff, #9e7bb5ff, #dcd0e5ff, #e2d8e9ff);
$gradient-right: linear-gradient(90deg, #5e175fff, #711c72ff, #884c94ff, #9e7bb5ff, #dcd0e5ff, #e2d8e9ff);
$gradient-bottom: linear-gradient(180deg, #5e175fff, #711c72ff, #884c94ff, #9e7bb5ff, #dcd0e5ff, #e2d8e9ff);
$gradient-left: linear-gradient(270deg, #5e175fff, #711c72ff, #884c94ff, #9e7bb5ff, #dcd0e5ff, #e2d8e9ff);
$gradient-top-right: linear-gradient(45deg, #5e175fff, #711c72ff, #884c94ff, #9e7bb5ff, #dcd0e5ff, #e2d8e9ff);
$gradient-bottom-right: linear-gradient(135deg, #5e175fff, #711c72ff, #884c94ff, #9e7bb5ff, #dcd0e5ff, #e2d8e9ff);
$gradient-top-left: linear-gradient(225deg, #5e175fff, #711c72ff, #884c94ff, #9e7bb5ff, #dcd0e5ff, #e2d8e9ff);
$gradient-bottom-left: linear-gradient(315deg, #5e175fff, #711c72ff, #884c94ff, #9e7bb5ff, #dcd0e5ff, #e2d8e9ff);
$gradient-radial: radial-gradient(#5e175fff, #711c72ff, #884c94ff, #9e7bb5ff, #dcd0e5ff, #e2d8e9ff);